* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blye: #041a65;
    --dark: rgb(14, 15, 15);
    --white: whitesmoke;
    --gold:gold;
    --pink: #E12179;
    --inika: "Inika", "Verdana", sans-serif;
    --inter: "Inter", "Verdana", sans-serif;
    --inst-bg: rgba(247, 42, 179, 0.35);
    --github-bg: rgba(110, 84, 148, 0.35);
    --tel-bg: rgba(239, 192, 20, 0.215);
}

html {
  font-size: 10px;
}

body{
  background-color: var(--white);
  color: var(--blye);
}


.dark-theme{
  background-color: var(--dark);
  color: var(--white);
}

.dark-theme .section-border{
  background-color: var(--white);
}

.dark-theme .header-navigation{
  background-color: var(--dark);
}

.dark-theme .glow-button{
  color: var(--white);
}

.dark-theme .menu-btn span{
  background-color: var(--white);
}

.dark-theme .container-slaider{
  background-color: var(--dark);
}

h2{
  font-family: var(--inika);
  font-size: 2.9rem;
  line-height: 5rem;
  text-align: center;
}

.wrapper {
  max-width: 1200px;
  padding: 0 20px;
}

.simple-text{
  font-family: var(--inter);
  font-style: normal;
  text-align: center;
  font-size: 1.8rem;
  line-height: 3.0rem;
}

.section-wrapper{
  display: flex;
  padding: 50px 0px;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.section-title{
  font-family: var(--inter);
  font-style: normal;
  font-weight: bold;
  font-size: 3.0rem;
  line-height: 5.0rem;
}

.section-border{
  content:"";
  width: 70px;
  height: 2px;
  background:var(--blye);
}

.footer{
  padding: 40px 0;
}

@media (max-width: 768px) {
  .wrapper {
    max-width: 768px;
    padding: 0 10px;
  }
}



  

