.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.change-theme{
  width: 30px;
  height: 30px;
}

.menu-btn{
  display: none;
}

.navigation {
  display: flex;
}

.navigation-link {
  list-style: none;
  padding: 0 20px;
  font-style: normal;
  font-weight: 400;
  font-family: var(--inter);
  font-size: 1.6rem;
  line-height: 2rem;
}

.nav-link{
  cursor: pointer;
  text-decoration: none;
  color: var(--blue);
}

.nav-link:hover{
  cursor: pointer;
  color: var(--pink);
}

@media (max-width: 768px) {
  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
  }
  .menu-btn {
    display: inline;
    width: 30px;
    height: 30px;
    position: relative;
    padding-right: 20px;
    z-index:2;
    overflow: hidden;
  }
  .menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--dark);
    transition: all 0.5s;
  }
  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
  }
  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
  }
  .menu-btn.active span:nth-of-type(1) {
    display: none;
  }
  .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);  
  }
  .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg); 
  }
  .header-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 40px;
    background: var(--white);
    transform: translateX(100%);
    transition: transform 0.5s; 
  }
  .header-navigation.active {
    transform: translateX(0);
  }
  .navigation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}


