.skills-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
  }
   
  .skills-block{
    display: flex;
    flex-basis: 33%;
    flex-wrap: wrap;
    gap: 55px;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
  }

  .skills-block_item{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .skills-img{
    width: 70px;
    height: 70px;
  }
